<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livefront.android_wear_demo" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission
        android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"  >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WatchViewStubActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BoxInsetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.BadLayoutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.PickerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CardFrameActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CardScrollViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.DismissOverlayViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CardFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.DelayedConfirmationViewActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.ShowImageActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>

        <activity
            android:name=".activity.TemperatureWatchFaceWearableConfigActivity"
            android:label="@string/temperature_config_name">
            <intent-filter>
                <action android:name="com.livefront.android_wear_demo.CONFIG_TEMPERATURE" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".services.DemoWearableDataListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service
            android:name=".services.TemperatureWatchFaceService"
            android:label="@string/temperature_name"
            android:allowEmbedded="true"
            android:taskAffinity=""
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_digital" />
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.livefront.android_wear_demo.CONFIG_TEMPERATURE" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="com.livefront.android_wear_demo.CONFIG_TEMPERATURE" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category
                    android:name=
                        "com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

    </application>

</manifest>
